# .dockerignore
# Python 환경 파일
__pycache__
*.pyc
*.pyo
*.pyd

# Poetry/Venv 가상 환경 폴더
.venv
venv
/Users/*/Library/Caches/pypoetry

# IDE 및 Git 관련 파일
.idea/
.vscode/
.git/
.gitignore

# 기타
*.log
poetry.lock  # 이미 위에서 복사했으므로 제외