# .dockerignore
# Python environment files
__pycache__
*.pyc
*.pyo
*.pyd

# Poetry / venv folders
.venv
venv
/Users/*/Library/Caches/pypoetry

# IDE and Git related files
.idea/
.vscode/
.git/
.gitignore

# Misc
*.log
poetry.lock  # 이미 위에서 복사했으므로 제외